.nav {
    display: flex;
    list-style-type: none;
    float: left;
    margin-bottom: 150px;
    text-transform: uppercase;
    background-color: rgb(109, 250, 109);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
.nav-li{
    margin-left: 20px;
    text-transform: uppercase;
    float: right;
  }