
.Navbar {
  display: flex;
  list-style-type: none;
  float: right;
  margin-bottom: 150px;
}

.li {
  margin-right: 10px;
}

.g-4{
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card{
  width: '18rem';
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.podcast-card-image{
  width: 350px;
  height: auto;
  border-radius: inherit;
}

.img-btn{
  max-width: fit-content;
}

.day {
  background-color: white;
}

.night {
  background-color: gray;
}